.item {
    display: flex;
    color: rgb(17, 17, 16);
    
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30 px;
}

.postText {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
}

.postBorder {
    display: block;
    border: 2px solid rgb(0, 4, 255);
    margin: 10px;
    
}